* {
    box-sizing: border-box;

}
body {
    background-color: black;
    background-size: cover;
}

h1, h2 {
    color: white;
    text-align: center;
    font-family: 'Sigmar One', cursive;

}

header {
    background-image: url(img/logo.jpg);
}

p {
    color: white;
}

img {
    height: 500px;
    width: auto;
    margin-left: 100px;
    margin-right: auto;
}

input {
    margin-left: 43%;
}

button {
    margin-left: 45%;
    margin-top: 12px;
    padding: 7px;
}

ul {
    color: white;
}

#monstName, #monstType {
    text-align: center;
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
}

#infoBox {
    text-align: center;
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
}

li {
    list-style-type: none;
}

#picSec {
    width: 60%;
    height: 700px;
    float: left;
}

#infoBox {
    margin-top: 25px;
    background-color: black;
}

#picSec {
    background-image: url('img/picBackground.jpg');
    background-size: cover;
}

#logo {
    height: 100px;
}